@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
    var culture = CultureInfo.CurrentCulture.Name;
}

<h1 localize-content>@ViewData["Title"]</h1>
<hr />
<p localize-content>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl" asp-route-culture="@culture">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.TwoFactorCode"></label>
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMachine">
                        <input asp-for="Input.RememberMachine" />
                        @Html.DisplayNameFor(m => m.Input.RememberMachine)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" localize-content>Log in</button>
            </div>
        </form>
    </div>
</div>
<p localize-args="@(new[] { Url.Page("./LoginWithRecoveryCode", null, new { returnUrl=Model.ReturnUrl, culture = culture }) })">
    Don't have access to your authenticator device? You can <a id="recovery-code-login" href="{0}">log in with a recovery code</a>.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
